.allContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.inputLine {
    width: 100%;
    padding: 1em;
    margin: 1em 0 0;

    color: #44474a;
    border-radius: 4px;
    border: 1px solid #ebebeb;

    &:focus {
        outline-width: 0;
    }
}

.tableAndSelectContainer {
    margin: 2em 0 4em;
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    .filesTableContainer {
        flex-grow: 1;

        table, th, tr, td {
            border-collapse: collapse;
        }

        th {
            font-weight: 600;

            &:first-child {
                width: 70%;
            }
        }

        .filesTable {
            width: 100%;
            height: 100%;

            td {
                max-width: 0;
                padding-right: 2em;

                text-align: left;
                vertical-align: middle;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            .flexHeader {
                display: flex;
                justify-content: flex-start;

                .columnCaption{
                }

                .sortButton {
                    background: url('assets/document/sortButton.svg') no-repeat center;
                    background-size: auto 75%;
                    width: 1.5em;
                }
            }
        }
    }

    .selectTable {
        border-collapse: collapse;

        th, tr, td {
            text-align: right;
            vertical-align: middle;
        }

        th {
            font-weight: 600;
        }
    }
}

.selectAllCheckBox {
    display: flex;
    justify-content: flex-end;
}
