{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{{ form_start(form, { 'attr': { 'class': 'fos_user_change_password', 'novalidate': 'novalidate' } }) }}
    {{ form_widget(form) }}
<div class="text-center modal-buttons">
    <button type="button" class="btn learnium-default-btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="form-change-password-button btn learnium-info-btn">Change password</button>
</div>
{{ form_end(form) }}
