{% extends '@App/Default/landing.html.twig' %}

{% block content %}
    <div class="container" style="margin-top:60px;">
        <div class="row">
            <div class="col-xs-12">
                <h1>How it works</h1>
            </div>
            <div class="col-xs-12" style="margin-bottom:20px;">
                <h1>
                    These terms and conditions create a contract between you and Tutrex (the “Agreement”). Please read the Agreement carefully.
                </h1>

                <h2>A. INTRODUCTION TO OUR SERVICES</h2>

                This Agreement governs your use of Tutrex’s services (“Services”), through which you can buy, get, license, rent or subscribe to media, apps (“Apps”), and other in-app services (“Content”). Our Services are: Tutrex Store, Tutrex Music, and Tutrex News. Our Services are available for your use in your country of residence (“Home Country”). To use our Services, you need compatible hardware, software (latest version recommended and sometimes required) and Internet access (fees may apply). Our Services’ performance may be affected by these factors.

                <h2>B. USING OUR SERVICES</h2>

                <b>PAYMENTS, TAXES, AND REFUNDS</b><br/>

                You can acquire Content on our Services for free or for a charge, either of which is referred to as a “Transaction.” Each Transaction is an electronic contract between you and Tutrex, and/or you and the entity providing the Content on our Services. However, if you are a customer of Tutrex Distribution International and you acquire an App or a book, Tutrex Distribution International is the merchant of record; this means that you acquire the Content from Tutrex Distribution International, and it is licensed by the App Provider (as defined below) or book publisher. When you make your first Transaction, we will ask you to choose how frequently we should ask for your password for future Transactions. If you enable Touch ID for Transactions, we will ask you to authenticate all Transactions with your fingerprint. Manage your password settings at any time by following these instructions: https://support.tutrex.com/en-us/HT204030. Tutrex will charge your payment method (such as your credit card, debit card, gift card/code, or other method available in your Home Country) for any paid Transactions, including any applicable taxes. If you pre-order Content, you will be charged when the Content is delivered to you (unless you cancel prior to the Content’s availability). For details about how Transactions are billed, please visit http://support.tutrex.com/kb/HT5582. All Transactions are final. Content prices may change at any time. If technical problems prevent or unreasonably delay delivery of Content, your exclusive and sole remedy is either replacement of the Content or refund of the price paid, as determined by Tutrex. From time to time, Tutrex may refuse a refund request if we find evidence of fraud, refund abuse, or other manipulative behavior that entitles Tutrex to a corresponding counterclaim. Terms related to gift cards/codes are available here: https://www.tutrex.com/legal/internet-services/Tutrex/giftcards/.
                <br/><br/>
                <b>Tutrex ID</b><br/>

                Using our Services and accessing your Content requires an Tutrex ID. An Tutrex ID is the account you use across Tutrex’s ecosystem. Your Tutrex ID is valuable, and you are responsible for maintaining its confidentiality and security. Tutrex is not responsible for any losses arising from the unauthorized use of your Tutrex ID. Please contact Tutrex if you suspect that your Tutrex ID has been compromised.

                You must be age 13 (or equivalent minimum age in your Home Country, as set forth in the registration process) to create an Tutrex ID and use our Services. Tutrex IDs for persons under this age can be created by a parent or legal guardian using Family Sharing or by an approved educational institution.
                <br/><br/>
                <b>PRIVACY</b><br/>

                Your use of our Services is subject to Tutrex’s Privacy Policy, which is available at https://www.tutrex.com/legal/privacy/.
                <br/><br/>
                <b>SERVICES AND CONTENT USAGE RULES</b><br/>

                Your use of the Services and Content must follow the rules set forth in this section (“Usage Rules”). Any other use of the Services and Content is a material breach of this Agreement. Tutrex may monitor your use of the Services and Content to ensure that you are following these Usage Rules.
                <br/><br/>
                All Services:
                <br/>
                - You may use the Services and Content only for personal, noncommercial purposes (except as set forth in the App Store Content section below).
                <br/>
                - Tutrex’s delivery of Content does not transfer any promotional use rights to you, and does not constitute a grant or waiver of any rights of the copyright owners.
                <br/>
                - You can use Content from up to five different Tutrex IDs on each device.
                <br/>
                - It is your responsibility not to lose, destroy, or damage Content once downloaded. We encourage you to back up your Content regularly.
                <br/>
                - You may not tamper with or circumvent any security technology included with the Services.
                <br/>
                - You may access our Services only using Tutrex’s software, and may not modify or use modified versions of such software.
                <br/>
                - Video Content requires an HDCP connection.
            </div>
        </div>
    </div>
{% endblock %}