<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Parameter</th>
        <th>Required</th>
        <th>Type</th>
        <th>Description</th>
        <th>Example</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>startTime</td>
        <td>Yes</td>
        <td>integer</td>
        <td>Unix timestamp of lesson start time.</td>
        <td>1545318000</td>
    </tr>
    <tr>
        <td>title</td>
        <td>Yes</td>
        <td>string</td>
        <td>Lesson title.</td>
        <td>Test lesson title</td>
    </tr>
    <tr>
        <td>duration</td>
        <td>Yes</td>
        <td>integer</td>
        <td>Lesson duration in minutes.</td>
        <td>90</td>
    </tr>
    <tr>
        <td>exitLink</td>
        <td>No</td>
        <td>string</td>
        <td>URL for redirection after leaving the lesson.</td>
        <td>https://google.com</td>
    </tr>
    <tr>
        <td>shareLink</td>
        <td>No</td>
        <td>string</td>
        <td>URL for sharing via social networks.</td>
        <td>https://google.com</td>
    </tr>
    </tbody>
</table>
