<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Parameter</th>
        <th>Required</th>
        <th>Type</th>
        <th>Description</th>
        <th>Example</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>sortBy</td>
        <td>No</td>
        <td>string</td>
        <td><b>Options:</b> <i>id</i>, <i>startTime</i>, <i>title</i>. <b>Default:</b> <i>startTime</i>.</td>
        <td>title</td>
    </tr>
    <tr>
        <td>sortDirection</td>
        <td>No</td>
        <td>string</td>
        <td><b>Options:</b> <i>ASC</i>, <i>DESC</i>. <b>Default:</b> <i>DESC</i>.</td>
        <td>ASC</td>
    </tr>
    <tr>
        <td>limit</td>
        <td>No</td>
        <td>integer</td>
        <td>Maximum results per request. <b>Default:</b> <i>20</i>.</td>
        <td>2</td>
    </tr>
    <tr>
        <td>offset</td>
        <td>No</td>
        <td>integer</td>
        <td>Index of first result. <b>Default:</b> <i>0</i>.</td>
        <td>0</td>
    </tr>
    </tbody>
</table>
