<input class="teacher-id-for-deleting" type="hidden">
<p>Are you sure you want to delete this teacher?</p>
<div class="modal-buttons text-center">
    <button class="btn learnium-default-btn" data-dismiss="modal">No</button>
    &nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button class="delete-teacher-button btn learnium-danger-btn">Yes</button>
</div>

