.scroll {
    position: absolute;
    top: 0;
    right: .2em;
    height: 100%;
    width: 6px;
}

.bar {
    position: absolute;
    left: 0;
    right: 0;

    background: rgba(0, 0, 0, .21);
    border-radius: 100px;

    &:hover {
        cursor: pointer;
    }
}
