.mainContainer {
    height: 100%;
    width: 100%;
    background: url(assets/screenBeforeWhiteboard/blured-bg.png) no-repeat center;
    background-size: 100% 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    .informationText {
        color: #fff;
        font-size: .9em;
    }

    .circularContainer {
        margin-top: 1em;
    }
}
