.whiteboardContainer {
    flex: 1;

    display: flex;

    position: relative;

    &:fullscreen {
        width: 100%;
    }
}

.whiteboardPanel {
    flex: 1 1 70%;

    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;

    position: relative;
}

.screenShareContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;

    background: #494949;

    z-index: 2;
}

.stopSharingContainer {
    position: absolute;
    right: 0;
    left: 0;
    margin: .6em;
    display: flex;
    justify-content: center;

    .stopSharingButton {
        background: rgba(0, 0, 0, 0.42);
        backdrop-filter: blur(5.5px);
        background-color: rgba(0, 0, 0, 0.42);
        color: #fff;
    }
}